<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.data.bio.basics.name }} - {{ site.data.bio.basics.label }}</title>
  
    <!-- 기존 CSS 유지 -->
    <link rel="stylesheet" href="/template/css/techfolio-theme/default.css">
    <link rel="stylesheet" href="/template/css/rouge/github.css">
  
    <!-- Bootstrap Icons 최신 CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  
    <!-- 기존 이미지 유지 -->
    <img src="/template/img/vacay-square.png">
  </head>
  